---
layout: default
title: "stories"
---
<header class="stories-index-header-main" style="background-image:url('{{ site.baseurl }}/assets/photography/Litter_XGS/litter_XGS-7-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="stories-index-title">
        <!-- <h1 class="featured-stories-post-title">Research</h1> -->
        <!-- <a href="" class="read-featured-stories-post"> Read </a> -->
    </div>
</header>

<!-- {% for stories in site.stories %}
<a href="{{ site.baseurl }}{{ stories.url }}">{{ stories.company_name }}</a>
{% endfor %} -->

<div class="StoriesWrapper">
  <!-- new story -->
   <div class="StoriesPreview">
    <div class="text">
        <h1>Jena Experiment</h1>
      <p>One of the biggest grassland biodivesrity experiment to study the long-term biodiversity-ecosystem functioning (BEF) relationship</p>
      <p>I'm currently a data manager for the Jena Experiment.</p>
      <h6>Grassland; Biodiversity; Ecosystem functioning</h6>
      <a href="http://the-jena-experiment.de/">View Study</a>
      <a href="https://jexis.idiv.de/">Jena Experiment Database</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/jenaexperiment.jpg">
    </div>
  </div>
    
  <div class="StoriesPreview reverse">
    <div class="text">
      <h1>InsektenMobil</h1>
      <p>Mobile citizen science observatory for insects.</p>
      <h6>Insects; Biodiversity; Citizen Science</h6>
      <a href="{{ site.baseurl }}/stories/insektenmobil">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/research/insektenmobil/insektenmobil6.jpg">
    </div>
  </div>

  <div class="StoriesPreview">
    <div class="text">
      <h1>BEF-China</h1>
      <p>Bigest manipulated BEF experiment in subtropical forest....</p>
      <p>Positive diversity–productivity relationships are found in many ecosystems across the world,
        but these relationships are poorly studied for forests, especially considering temporal and spatial scale in large manipulated field experiments.
        If you are interested in BEF relationships and its underlying mechanisms, see our web.</p>
      <h6>BEF in forest &bull; Litterfall &bull; BEFmodification Experiment</h6>
      <a href="{{ site.baseurl }}/stories/BEF-China/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/BEF.jpg">
    </div>
  </div>
<!-- second part of the story -->
  <div class="StoriesPreview reverse">
    <div class="text">
      <h1>Obversional studies in GTS</h1>
      <p>Here I studied soil respiration, litterfall, nutrient resorption change along different successional stages in a natural forest in China.</p>
      <h6>Forest succession; Comparative studies</h6>
      <a href="{{ site.baseurl }}/stories/CSP/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/stories/GTS/DSC01811.JPG">
    </div>
  </div>
  <!-- third sroty -->
  <div class="StoriesPreview">
    <div class="text">
      <h1>Alpine Studies</h1>
      <p>Qinghai nutrient adding experiment. AMF contrubute to P absorbing....</p>
      <h6>AMF; Alpine; Nutrient enrichment experiment</h6>
      <a href="{{ site.baseurl }}/stories/grassland/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/stories/Qinhai/IMG_0287.JPG">
    </div>
  </div>

</div>
