---
layout: default
title: "lindenauer_hafen 2019"
categories: love
featImg: nature/2019lindenauer_hafen/lindenauer_hafen2019-1-thumbnail.jpg
excerpt: "Germany/Leipzig"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/nature/2019lindenauer_hafen/lindenauer_hafen2019-2-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Lindenauer_hafen</h1>
</div>

<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>lindenauer_hafen2019</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout-nature.html gallery=site.data.nature.2019lindenauer_hafen %}
  </div>
</div>
