---
layout: default
title: "2020-04-14-Seedlings2020"
categories: love
featImg: nature/seedlings2020/Seedlings2020-5-thumbnail.jpg
excerpt: "Germany/Leipzig"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-2-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Seedlings photos in 2020</h1>
</div>


<div class="galleryIndexWrapper">

  <h6 class="dropCap"><p>seedlings2020</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout-nature.html gallery=site.data.nature.seedlings2020 %}
  </div>

  <p>April is the best time of the year.</br>
  In order to have some fresh feeling in our flat, we started geminating seeds in March during the coronavirus quarantine period.
  We used the coco coir compressed disc as the base for seeds. Coco coir is made from coconut husk and has enough nutrient for seeds to geminate.
  In the beginning, it was used as a stand alone soil. When water was added, coco coir will soak the water. So the seeds in the middle of coco coir will have enough water.</p>
  <div class="gallery_story">
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-11.jpg"/>
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-10.jpg"/>
    <img class="low" src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-12.jpg"/>
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-13.jpg"/>
  </div>
  <p>After the seeds geminating, we mixed the whole coco coir with potting soil into a bigger pot.
  Coco coir helps prevent the destruction of natural peat bogs when we moved the seedlings to big pots. Our Thailand chilly which was left from last year, had 100% geminat rates. We will also have many Tomatos, Mangold, Green onion and Coriander</p>
  <div class="gallery_story">
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-18.jpg"/>
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-17.jpg"/>
    <img  class="high" src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-19.jpg">
  </div>
  <p>We also put some bean seeds in the soil. After around one week, they germinated and grew quickly.</p>
  <div class="gallery_story">
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-15.jpg"/>
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-16.jpg"/>
    <img  src="{{ site.baseurl }}/nature/seedlings2020/Seedlings2020-20.jpg"/>
  </div>

</div>
