---
layout: default
title: "Drachenschlucht"
categories: love
featImg: nature/20200807Drachenschlucht/Drachenschlucht20200807-3-thumbnail.jpg
excerpt: "Germany/Eisenach"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/nature/20200807Drachenschlucht/Drachenschlucht20200807-8-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Drachenschlucht</h1>
</div>

<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>Drachenschlucht</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout-nature.html gallery=site.data.nature.20200807Drachenschlucht %}
  </div>
</div>
